.card_profile {
    height: 200px;
    width: 30%;
    margin: 50px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.card_profile:hover {
    transform: scale(1.05);
    background-color: #1678F2;
}

.card_profile:hover .card-title,
.card_profile:hover .card-icon {
    color: white;
}

.card_profile .card-title {
    color: #1678F2;
    font-weight: bold;
    margin-bottom: 10px;
}

.card_profile .card-icon {
    color: #1678F2;
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.card_profile .card-body {
    height: 200px;
    width: 100%;
    border-radius: 10px;
}

h2 {
    margin-bottom: 20px;
    color: #3D93FF;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalOfPersonalInfor {
    border-radius: 8px;
    width: 70%;
    max-height: 80vh;
    overflow-y: auto;
    margin-top: 50px;
}

.modalOfPersonalInfor .modal-content {
    padding: 20px;
    position: relative;
}

.modalOfPersonalInfor .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.modalOfPersonalInfor .profile-picture {
    min-width: 160px;
    max-height: 160px;
}

.modalOfPersonalInfor .input-group {
    margin-bottom: 15px;
    display: flex;
}

.modalOfPersonalInfor .input-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    width: 20%;
}

.modalOfPersonalInfor .input-group input {
    width: 80%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.modalOfPersonalInfor .update-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.modalOfPersonalInfor .update-button:hover {
    background-color: #0056b3;
}
.avatar-container {
    position: relative;
    display: inline-block;
}

.avatar_profile_update {
    width: 100px;
    height: 100px;
    background-color: #0056b3;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar_profile_update img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: red;

}

.edit-button {
    position: absolute;
    bottom: 10px;
    right: -10px; /* Điều chỉnh để nút nằm ngoài vòng tròn */
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.edit-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.loading-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    color: #333;
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
}