.card_profile {
  height: 200px;
  width: 30%;
  margin: 50px;
  border-radius: 10px;
  transition: transform 0.3s ease, background-color 0.3s ease; /* Thêm transition ở đây */
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card_profile:hover {
  transform: scale(1.05);
  background-color: #1678f2;
}

.card_profile:hover .card-title,
.card_profile:hover .card-icon {
  color: white;
}

.card_profile .card-title {
  color: #1678f2;
  font-weight: bold;
  margin-bottom: 10px;
}

.card_profile .card-icon {
  color: #1678f2;
  font-size: 25px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.card_profile .card-body {
  height: 200px;
  width: 100%;
  border-radius: 10px;
}

h2 {
  margin-bottom: 20px;
  color: #3d93ff;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalOfPersonalInfor {
  border-radius: 8px;
  width: 70%;
  max-height: 80vh;
  overflow-y: auto;
  margin-top: 50px;
  overflow: hidden;
}

.modalOfPersonalInfor .modal-content {
  padding: 20px;
  position: relative;
}

.modalOfPersonalInfor .close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.modalOfPersonalInfor .profile-picture {
  max-width: 150px;
}

.modalOfPersonalInfor .input-group {
  margin-bottom: 15px;
  display: flex;
}

.modalOfPersonalInfor .input-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  width: 20%;
}

.modalOfPersonalInfor .input-group input {
  width: 80%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modalOfPersonalInfor .update-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modalOfPersonalInfor .update-button:hover {
    background-color: #0056b3;
}
.avatar-container {
    position: relative;
    display: inline-block;
}

.avatar_profile_update {
    width: 100px;
    height: 100px;
    background-color: #e4a9dd;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar_profile_update img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: red;

}

.edit-button {
    position: absolute;
    bottom: 10px;
    right: -10px; /* Điều chỉnh để nút nằm ngoài vòng tròn */
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.edit-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.loading-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    color: #333;
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.file-input-container {
  position: relative;
  display: flex;
  align-items: start;
  background-color: #0056b3;
  gap: 20px;
  padding: 5px;
  height: 165px;
  overflow: hidden;
}

.file-input-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.file-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.custom-button {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border: 1px solid #72bdd8;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 10px;
}

.custom-button:hover {
  background-color: #f0f9ff;
  color: #fff;
}

.certificate-img {
  width: 200px;
  display: block;
  border: 2px solid #0002;
  height: 100%;
}
.noti-post-item {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid transparent;
  transition: background-color 0.3s, border-color 0.3s;
}

.noti-post-item:hover {
  background-color: #ea43432a;
}

.noti-detail-link {
  color: #007bff;
  text-decoration: none;
}

.noti-detail-link:hover {
  text-decoration: underline;
}