/* src/Session1.css */
.session1-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background-color: #ffff;
  height: 90vh;

}

.session1-card {
  display: flex;
  align-items: center;
  border: none;
  box-shadow: none;
  flex-wrap: wrap;
  background-color: transparent;
  position: relative;
}


.session1-image {
  width:  100%;
  border-radius: 50%;
}

.session1-content {
  max-width: 500px;
  margin-right: 20px;
  z-index: 90;
}

.session1-title {
  margin-bottom: 10px;
}

.session1-paragraph {
  margin: 20px 0;
}

.session1-button {
  margin-top: 20px;
}

/* CSS */
.button-66 {
  background-color: #0a6bff;
  border-radius: 4px;
  border: 0;
  box-shadow: rgba(1,60,136,.5) 0 -1px 3px 0 inset,rgba(0,44,97,.1) 0 3px 6px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inherit;
  font-family: "Space Grotesk",-apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  min-height: 56px;
  min-width: 120px;
  padding: 16px 20px;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  transition: all .2s cubic-bezier(.22, .61, .36, 1);
}

.button-66:hover {
  background-color: #065dd8;
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  .button-66 {
    padding: 16px 44px;
    min-width: 150px;
  }
  .session1-container{
    /* background-color: #065dd8; */
  }
}


.box-animation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}


.box-animation h1 {
  font-weight: 700;
  text-align: center;
  font-size: 40px;
  font-family: Hack, sans-serif;
  text-transform: uppercase;
  background: linear-gradient(90deg, #d9d9d9, #1b72f6, #96dfff, #e3eeff);
  letter-spacing: 5px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  background-size: 80%;
  animation: shine 5s linear infinite;
  position: relative;
}

@keyframes shine {
  0% {
    background-position-x: -500%;
  }
  100% {
    background-position-x: 500%;
  }
}

/*  Checkout my other pens on  https://codepen.io/grohit/  */
@media (min-width: 480px) and (max-width: 767px) {
  .session1-container {
    padding: 30px;
    font-size: 16px;
    margin-top: 100px;
    justify-content: center;

  }
  .box-2{
    display: flex;
    justify-content: center;
  }
  .session1-title{
     text-align: center;
  }
}

/* Large phones (768px to 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  .session1-container {
    padding: 40px;
    font-size: 18px;
  }
}

/* Tablets and larger devices (1024px and up) */
@media (min-width: 1024px) {
  .session1-container {
    padding: 50px;
    font-size: 20px;
  }
}