/* Session2.css */
.session2-container {
  position: relative;
  padding: 50px;
  text-align: center;
  background-image: url('../../images/—Pngtree—ppt\ grid\ background_2498802.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #2196F3;
  overflow: hidden; /* Ensure pseudo-element doesn't overflow the container */
}

.session2-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(66, 170, 255, 0.693); /* Adjust opacity and color as needed */
  z-index: 0; /* Place the overlay behind the content */
}

.session2-container > * {
  position: relative;
  z-index: 1; /* Ensure content is above the overlay */
}

.session2-title {
  margin-bottom: 20px;
  font-size: 24px;
  color: #ffffff;
}

.carousel-item {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  flex-wrap: wrap;
}

.service-card {
  width: 250px;
  margin-bottom: 20px;
}

.service-card .card-icon {
  font-size: 48px;
  margin: 20px 0;
}

.service-card.active {
  border: 2px solid #40bcd8;
}

@media (max-width: 768px) {
  .carousel-item {
    flex-direction: column;
    align-items: center;
  }

  .service-card {
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
  }
  .session2-title{
    margin-top: 100px;
  }
}

@media (max-width: 480px) {
  .session2-title {
    font-size: 20px;
  }

  .service-card {
    width: 100%;
    max-width: 250px;
    margin-bottom: 15px;
  }

  .service-card .card-icon {
    font-size: 40px;
    margin: 15px 0;
  }
}
