.banner {
    background-image: url('../../images/banner.png');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    margin: -20px -20px 10px -20px;
    height: 500px;
}
.title-banner{
    color: #3D93FF;
    font-size: large;
    font-weight: bold;
}
.banner-item{
    display: flex;
    flex-direction: column;
    float: left;
    align-items: flex-start;
    margin-top: 15rem;
}
.text-banner{
    max-width: 55%;
    display: flex;
    text-align: left;
}
